<!DOCTYPE html>
<html>
	<head>
		<title>Employee</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<style>
			body{
				padding-top: 70px;
			}
		</style>
	</head>
	<body id="app">
		
		<div class="container">
			<div class="col-md-4">
				
				<form role="form" autocomplete="off">
				  <div class="form-group">
				    <label for="name">Name: </label>
				    <input type="text" class="form-control" id="name" placeholder="Name" autofocus>
				  </div>
				  <div class="form-group">
				    <label for="lastname">Lastname: </label>
				    <input type="text" class="form-control" id="lastname" placeholder="Lastname">
				  </div>
				  <button id="newEmployee" type="submit" class="btn btn-info">Guardar</button>
				</form>				
			
			</div>
			<div class="col-md-8">
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<td>Nombre</td>
							<td>Apellido</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>				
			</div>
			
		</div>

	<script type="text/template" id="my-template">
			<td>{{ name }}</td>
			<td>{{ lastname }}</td>
			<td style="width:10px;"><button class="btn btn-danger btn-xs" >Delete</button></td>
	</script>

		<script src="/javascripts/vendors/jquery-2.1.1.js"></script>
		<script src="/javascripts/vendors/underscore.js"></script>
		<script src="/javascripts/vendors/backbone.js"></script>
		<script src="/javascripts/vendors/bootstrap.js"></script>
		<script src="/javascripts/employee.js"></script>
		<script src="/javascripts/employees.js"></script>
		<script src="/javascripts/viewEmployee.js"></script>
		<script src="/javascripts/viewApp.js"></script>
		<script src="/javascripts/app.js"></script>
	</body>
</html>